body{
	background-image:url(../images/whitebrick.jpg);
	background-position: center;
	font-family: Comfortaa;
	max-width: 100%; /*1295px*/

}
.sideNav{
	margin-top: 100px;
	margin-left: 10px;
	height:350px;
	width: 250px; /* 0 width - change this with JavaScript */
	background-color: black;
	display: none;
	position: fixed;
	z-index:10;
}
.sideNav a:hover, .navBar a:focus{
	color: blue;
}

.navBar{
	display:block;
	padding-top: 40px;
	font-size: 20px;
}
li a{
	color:white;
	text-decoration: none;
}

header img{
	width: 70px; 
	/* margin-left:1430px; */ 
	margin-top: 15px;
	margin-left: 0.77220077%; /* 10px; */
}
#centerPiece{
	position: relative;
	top:150px;
	height:300px;
	padding-top: 20px;
	background-color: rgba(206, 221, 227, .8);
	border-radius: 5px;
	text-align: center;
	color:rgba(34, 76, 180, 1);
	margin: auto;
}

#mainText{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.7);
	margin-top: 40px;
	margin-left: 36%; /*550px;*/
	margin-right:36% ;/*550px;*/

}
h1{
	font-weight: 700;
	font-size: 36px;
}
h2{
	font-weight: 400;
	font-size: 24px;
}
h3{
	font-style: italic;
	font-weight: 300;
	font-size: 14px;
}
ul li{
	display: inline;

}
ul li a img{
	width:30px;
	text-align: center;
	padding: 0 15px 0 0;
}
ul li :hover{
	width:40px;

}
footer{
	text-align: center;
	margin-top: 230px;
}

.sideNav{
	margin-top: 100px;
	margin-left: 10px;
	height:350px;
	width: 250px; /* 0 width - change this with JavaScript */
	background-color: black;
	display: none;
	position: fixed;
	z-index:10;
}
.sideNav a:hover, .navBar a:focus{
	color: blue;
}


.navBar{
	display:block;
	padding-top: 40px;
	font-size: 20px;
}
li a{
	color:white;
	text-decoration: none;
}

@media screen and (max-width: 750px){
    h1 {
      font-size: 30px;
    }
}
@media screen and (max-width: 600px){
    h1 {
      font-size: 20px;
    }
    h2{
    	font-size: 16px;
    }
    h3{
    	font-size: 10px;
    }
}

